# Dependencies
node_modules/

# Build outputs
/dist/
/build/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
logs/
*.log

# Env / secrets
.env
.env.*

# Coverage
coverage/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Misc
*.tsbuildinfo
